@import "../../variables";

.title {
  color: $title-color;
  font-weight: 300;
}

table {
  border-collapse: separate;
  border-spacing: 0px;

  tbody:before {
    content: "@";
    display: block;
    line-height: 36px;
    text-indent: -99999px;
  }

  tr > th {
    color: $table-header-color;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    vertical-align: top;

    div {
      display: flex;
      align-items: center;

      i {
        padding-left: 8px;
      }
    }
  }

  tr > td {
    height: 54px;
  }

  tr > td:first-of-type {
    max-width: 160px;
  }

  tr > th:nth-of-type(1), tr > th:nth-of-type(2), tr > th:nth-of-type(3),
  tr > td:nth-of-type(1), tr > td:nth-of-type(2), tr > td:nth-of-type(3) {
    text-align: left;
    padding-right: 32px;
  }

  tr > td:nth-of-type(3) {
    border-right: solid 1px $table-header-color;
  }
  

  tr > th:nth-of-type(4), tr > th:nth-of-type(5), tr > th:nth-of-type(6),
  tr > td:nth-of-type(4), tr > td:nth-of-type(5), tr > td:nth-of-type(6) {
    text-align: right;
    padding-left: 32px;
  }

  tr > th:nth-of-type(7), tr > td:nth-of-type(7) {
    text-align: center;
    padding-left: 32px;
  }
}

.text-right {
  text-align: right !important;
}